<!DOCTYPE html>
<ntml>
    <head>
        <title>Welcome!</title>
    </head>
    <body>
        <h1>Welcome to your information portal!</h1>
        <ul>
            <li><a href="/health_app/patient">Patient page</a></li>
            <!--<li><a href="/health_app/hr">Heart rate tracker</a></li>-->
            <li><a href="/health_app/bp">Blood pressure tracker</a></li>
            <li><a href="/health_app/weight">Weight tracker</a></li>
            <li><a href="/health_app/bmi">BMI tracker</a></li>
        </ul>
    </body>
</html>